# === Подключение к серверу ===
SERVER_HOST=192.168.1.200
SERVER_USER=vvlad1973
SERVER_PATH=/tmp

# === Имя проекта ===
PROJECT_NAME=test_builder

# === Пути на сервере ===
SRV_APP_BASE=/srv/app
SRV_DATA_BASE=/srv/data

# === Права доступа ===
DIR_OWNER=root
DIR_GROUP=botadmins

# === Docker ===
EXPOSE_PORT=8081
INTERNAL_PORT=8081
